.footer {
	background-color: #300d28;
	position: relative;
	z-index: 3;
	width: 100%;
	color: white;
	display: flex;
	padding: 2vw 0 1.5vw 0;
}
.footer-mobile{
	display: none;
}

.footer-left {
	flex: 1;
	padding-left: 2rem;
}

.footer-left h3 {
	font-size: 1.0vw;
	font-weight: 300;
	margin: 0 0 0 0;
}

.footer-left a {
	text-decoration: none;
	color: white;
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	font-size: 1.1vw;
}

.footer-left a:hover {
	text-decoration: none;
	color: white;
}

.footer-center {
	margin: .5rem 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 35rem;
	margin: auto;
	flex: 1;
}

.footer-center h3 {
	font-size: 1.1vw;
	font-weight: 400;
	margin: 0;
	font-family: 'Open-Sans', sans-serif;
}

.footer-center p {
	font-size: .9vw;
	margin: 0;
}

.footer-center span {
	font-size: 1.2vw;
	font-weight: 800;
}

.footer-mkt {
	margin-top: 1vw;
	font-size: 0.5vw;
	font-weight: 500;
}
.footer-mkt a{
	color: #fff !important;
	text-decoration: none !important;
}

.footer-right {
	flex: 1;
}

.ga-logo-container-footer{
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 40%;
	z-index: 1;
	vertical-align: middle;
}

.ga-logo-footer{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1000;
}

@media(max-width:700px){
	.footer{
		display: none;
	}
	.footer-mobile{
		display: flex;
		background-color: #300d28;
		position: relative;
		z-index: 3;
		width: 100%;
		color: white;
		padding: 4vw 0 1.5vw 0;
	}
	.footer-mobile h3{
		font-size: 3vw;
		margin-bottom: 3vw;
	}
	.footer-mobile h4{
		font-size: 2.5vw;
		margin: 0;
	}
	.footer-mkt{
		font-size: 3vw;
		margin: 0;
		margin-bottom: 3vw;
	}
	.footer-center p{
		font-size: 2vw;
		margin-bottom: 4vw;
	}
	.ga-logo-footer-mobile{
		font-size: 1.8vw;
		color: white;
		text-decoration: none;
		margin-bottom: 2vw;
	}
}