.pre-footer{
    width: 100%;
    height:auto;
    background-color: white;
    position: relative;
    z-index: 10;
    padding: 6vw 0 3vw 0 ;
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    align-items: center;
    justify-items: center;
}
.pre-footer-mobile{
    display: none;
}

.pre-footer h1{
    padding: 2vw 2vw 2vw 2vw;
    margin-bottom: 2vw;
    width: 22vw;
    text-align: center;
    font-size: 1.0vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    color: white;
    font-family: 'Open-Sans', sans-serif;
    background-color:#300d28;
}

.pre-footer img{
    padding: 2vw 2vw 2vw 2vw;
    width: 22vw;
    max-height: 10vw;
    height: 100%;
    object-fit: contain;
}

.pre-footer object{
    padding: 2vw 2vw 2vw 2vw;
    width: 22vw;
    max-height: 10vw;
    height: 100%;
    object-fit: contain;
}

.ga-logo-container-pre-footer{
    position: relative;
}

.ga-logo-pre-footer{
    filter: invert(1);
	width: 100%;
    max-height: 8vw !important;
}

.clickable-area-pre-footer{
    position: absolute;
    align-self: center;
    margin: auto;
    width: 22vw;
    height: 9vw;
    z-index: 2;
    vertical-align: middle;
}

#landscaping-title{
    transform: translateX(-0.5vw);
}

@media(max-width:700px){
    .pre-footer{
        display: none;
    }		
    .pre-footer-mobile{
        display: grid;
    }
    .pre-footer-mobile h1{
        padding: 3vw;
        margin-bottom: 2vw;
        /* width: 50vw; */
        text-align: center;
        font-size: 2.5vw;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .1vw;
        color: white;
        font-family: 'Open-Sans', sans-serif;
        background-color:#300d28;
    }	
    .pre-footer-mobile-div-1 h1{     
        width: 100vw;
        margin-bottom: 1vw;
    }
    .pre-footer-mobile-div-1 img{
        width:40%;
        display: flex;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .pre-footer-mobile-div-2 h1{
        margin-bottom: 5vw;
        margin-top: 2vw;
        width: 50vw;
    }	
    .pre-footer-mobile-div-2{
        display: grid;
        max-width: 10px;
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }	
    .pre-footer-mobile-div-2 img{
        width:50%;
        display: flex;
        margin: auto;
        /* margin-bottom: 3vw; */
    }	
    #link-5{
        filter: invert(1);
    }
}
